@keyframes rotation{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.root__rotation{
  animation: rotation 20s linear infinite;
}

.root__link_active{
  opacity: 1;
  transition: opacity 1s linear;  
}

.root__link_active:hover{
  opacity: 0.5; 
}